name: Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref to build (for Pull Requests, use refs/pull/NNN/head)'
        required: true
  repository_dispatch:
    # client_payload should be the same as the inputs for workflow_dispatch.
    types:
    - Build*
  release:
    types:
    - published

jobs:
  source:
    name: Source

    uses: ./.github/workflows/release-source.yml
    secrets: inherit

  linux:
    name: Linux (Generic)
    needs: source

    uses: ./.github/workflows/release-linux.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  server-upload-github:
    name: Release GitHub assets
    needs:
    - source
    - linux

    if: needs.source.outputs.trigger_type == 'new-master' || needs.source.outputs.trigger_type == 'new-tag'

    runs-on: ubuntu-latest

    steps:
    - name: Download all bundles
      uses: actions/download-artifact@v7

    - name: Release GitHub assets
      uses: softprops/action-gh-release@v2.5.0

      with:
        files: |
          openttd-linux-generic.zip
          symbols-linux-generic.zip
          openttd-source.zip